@import url("utility.css");
* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
}
p {
  margin-bottom: 0;
  margin-top: 0;
}
body {
  background-color: var(--slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  height: 100vh;
}

.qr-code {
  max-width: 288px;
  max-height: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 100%;
}

.card {
  margin: auto;
  padding: 16px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 20px;
  max-width: 320px;
  inset: 28px;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #1f314f;
  margin-bottom: 16px;
}

.content {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #68778d;
  max-width: 256px;
  margin: auto;
}

.img-wrapper {
  flex: 1;
}
